 body {
            margin-top: 0%;
            margin-bottom: 3rem;
        }
.main-category{
    background-color: #f8f4f6;
    height: auto;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}